fastapi
langchain
langchain-community
langchain-openai
openai
sqlalchemy
passlib
werkzeug
google-api-python-client
google-cloud-storage
PyPDF2
python-dotenv
requests
uvicorn
rapidfuzz
psycopg2-binary
twilio

